/*
/*/
!.vimrc
!dwmstatus-git/
!.zshrc
!.Xresources
!.xinitrc
!.gitignore
!st/
!xdm/
!.surf/
!dmenu-4.5/
!test/
!jsmn/
!programs.txt
!wallpaper.jpg
!.vim/
.vim/bundle/
!surf/
!dwm/
*.surf*
*.local.vimrc
