body {
	background: url('../resources/rendering.jpg') no-repeat center;
	background-size: cover;
	background-position: left top 500px;
	padding-top: 80;
	color: #FFFFFF;
}
.navbar-brand { 
	padding: 8px;
}
.jumbotron {
	background: url('../resources/teaser2.png') no-repeat center center;
	opacity: 1.0;
	height: 500px;
	padding-top:80px;
	color: #000000
}
img.diesdas{
	max-width: 200px;
}
