body {
	background: url('../resources/rendering.jpg') no-repeat center;
	background-size: cover;
	background-position: left top 500px;
	padding-top: 80;
	color: #FFFFFF;
}
.navbar-brand { 
	padding: 8px;
}
.jumbotron {
	background: url('../resources/teaser2.png') no-repeat center center;
	height: 500px;
	padding-top:80px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	padding-top: 80px;
	width: 100%;
	height: 500px;
}
img.diesdas{
	max-width: 200px;
}
